
<nav>
  <div>
    <div>
      <div *ngIf="isLoggedIn">
        <a>{{userName}} is already logged in</a>
        <button (click)="logout()">Log out</button>
      </div>
      <div *ngIf ="!isLoggedIn">
        <button [ngClass]="{'hidden': emaillogin}" (click)="login()">Log in With Google</button>
        <button [ngClass]="{'hidden': emaillogin}" (click)="emaillogin = !emaillogin">Login with Email</button>
        <form *ngIf="emaillogin" [formGroup]="registerForm">
          <button [ngClass]="{'hidden': !emaillogin}" (click)="emaillogin = !emaillogin">Go Back</button>
          <div class="form-group">
            <input type="email" formControlName="email" placeholder="email" required>
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" placeholder="password" required>
            <label class="error">{{errorMessage}}</label>
            <label class="success">{{successMessage}}</label>
          </div>
          <button type="submit" (click)="emailLogin(registerForm.value)">Login</button>
        </form>
        <button [ngClass]="{'hidden': emaillogin}" routerLink="/register">Sign Up with Email</button>
      </div>
    </div>
  </div>
</nav>
