.deckList{
  position: relative;
  width: 76%;
  margin: 0 auto;
  padding: 5px 2%;
}
div:first-child{
  border-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
img{
  width: auto;
  height: 50px;
  margin: 2px;
}
.card{
  display: grid;
  grid-template: 1fr / 1fr 2fr 1fr;
  box-shadow: 0px -5px 10px darkgray;
  .supertype{
    grid-area: 1 / 1 / span 1 / span 1;
  }
  .colors{
    grid-area: 1 / 3 / span 1 / span 1;
    img{
      float: right;
    }
  }
  .name{
    grid-area: 1 / 1 / span 1 / span 2;
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
