<div class="header">

  <h1>The Magic, Gathered</h1>

</div>

<div class="search-body" id={{trans}}>
  <div class="search">
    <div class="searchbar">
      <img class="search-icon" src="../../assets/images/search_icon.svg" alt="search">
      <input #stringInput id="input" type="text" name="Search" placeholder="Search">
      <button class="srchbtn" (click)="getMTGcards(); getSearchTerm(stringInput.value) " >Submit</button>
    </div>
    <div class="sort-by">
      <button class="left-sortbtn" type="button" name="button" (click)="addNameWins()" [class.selected]="superTypes[0].value">by card name</button>
      <button class="right-sortbtn" type="button" name="button" (click)="addSuperWins()" [class.selected]="superTypes[1].value">by supertype</button>
    </div>
  </div>

  <div class="filters">


    <div class="color-buttons">
      <button *ngFor="let currentBtn of colorBtns" type="checkbox" ng-model="currentBtn" class=colorbtn [class.btntrans]="currentBtn.value" id={{currentBtn.name}} (click)="addSearchFilter(currentBtn.name, currentBtn.id)"><img src={{currentBtn.image}} alt={{currentBtn.name}}></button>
    </div>

    <div class="type-buttons">
      <button *ngFor="let currentTypBtn of typeBtns" type="checkbox" ng-model="currentTypBtn" class="typebtn" [class.btntrans]="currentTypBtn.value" id={{currentTypBtn.name}} (click)="addSearchFilterTyp(currentTypBtn.name, currentTypBtn.id)"><img src={{currentTypBtn.image}} alt={{currentTypBtn.name}}></button>
    </div>




    <div class="sort-by-two">
      <button>sort by</button>
      <img src="../../assets/images/drop-arrow.png" alt="dropdown" class="drop-arrow">
    </div>

  </div>


</div>
<div class="terms-container">

  <div class="key-terms">
    <div *ngFor="let currentBtn of typeBtns"><p>{{currentBtn.name}}</p><img src={{currentBtn.image}} alt={{currentBtn.name}}></div>

  </div>
</div>
<div class="">


<app-card-list [data]="formattedCardList"></app-card-list>
