@import url('https://fonts.googleapis.com/css?family=Eczar');

// * {
//   border: 1px solid red;
// }

* {
  font-family: 'Eczar';
}

h1 {
  font-size: 30px;
  font-weight: normal;
  margin: 20px 0;
  color: lightyellow;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  color: white;
  margin: 0;
  padding: 0;
}

button {
  display: flex;
  outline: none;
}

.header,
.search-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D4D4D4;
  position: fixed;
  margin-left: -8px;
}

.header {
  display: flex;
  height: 50px;
  width: 100vw;
  border-bottom: 1px solid #7B7B7B;
  background-color: grey;
}


.search-body {
  margin-top: 51px;
  position: fixed;
  border-bottom: 1px solid #7B7B7B;
  transition: display 5s ease;
}

.filters {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100vw;
}

#transform {
  display: flex;
}

#transform-active {
  display: none;
}

.search {
  display: flex;
  flex-direction: column;
  color: black;
  margin-bottom: 10px;
  margin-top: 0;
  input[type="text"] {
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 0;
    padding-left: 30px;
    line-height: 33px;
    width: 257px;
    // border-top-left-radius: 5px;
    // border-bottom-left-radius: 5px;
    border: black solid 0px;
  }
  .srchbtn {
    // border-top-right-radius: 5px;
    // border-bottom-right-radius: 5px;
    border: 0;
    background-color: darkgrey;
    padding-top: 4px;
    font-size: 16px;
    padding-right: 11px;
    color: white;
  }
}

.searchbar {
  display: flex;
  flex-direction: row;
}

.search-icon {
  position: absolute;
  margin-top: 9px;
  margin-left: 5px;

}

.sort-by-two,
.sort-by {
  display: flex;
  // background-color: #7B7B7B;
  padding: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 35px;
  margin-top: -3px;
  button {
    background-color: #7B7B7B;
    color: darkgrey;
    font-size: 20px;
    line-height: 5px;
    padding-bottom: 0;
    border: 0;
    width: 178px;
    height: 30px;
    justify-content: center;
  }
  .selected {
    background: grey;
    color: white;
  }
}

.sort-by-two {
  background-color: #7B7B7B;
  button {
    color: white;
    width: 80px;
    padding-right: 0;
  }
}

.left-sortbtn {
  border-bottom-left-radius: 5px;
}
.right-sortbtn {
  border-bottom-right-radius: 5px;
}


.drop-arrow {
  width: 20px;
  height: 20px;
  margin-left: .5em;
}



.color-buttons,
.type-buttons {
  display: grid;
  margin-bottom: 5px;
}

.color-buttons {
  grid-template-areas: "a a a a a";
  grid-gap: 10px;
  margin-top: -5px;;
}

.type-buttons {
  grid-template-areas: "a a a a a a a";
  grid-gap: 7px;
  margin-bottom: 8px;
}

.colorbtn,
.typebtn {
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #7B7B7B;
  box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.25);
  margin: 0;
  padding: 0;
  img {
    // display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.colorbtn {
  height: 57px;
  width: 57px;
}

.typebtn {
  height: 40px;
  width: 40px;
}



.terms-container {
  position: relative;
  padding-top: 55px;
  z-index: -3;
  background-color: darkgrey;

}

.key-terms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 5px;
  z-index: -1;
  background-color: grey;
  border: 5px solid lightgrey;
  color: white;
  div {
    font-family: arial;
    display: flex;
    padding-left: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
  }
  img {
    height: 20px;
    width: 20px;
    padding-left: 3px;
  }
}

.key-terms:first-child {
  padding-top:20px;
}

.lorem-contain {
  position: relative;
  background-color: darkgrey;
  z-index: -4;
}

.btntrans {
  background-color: lightyellow;
  filter: saturate(2);
  border: none;

  // border: red solid 1px;
}

.lorem {
  position: relative;
  background-color: pink;
  width: 320px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid lightblue;
  border-top: 0;
  margin-top: -10px;
  padding: 20px 10px;;
  z-index: -3;
}
