<br>
<button (click)="addSearchFilter('white')">white</button>
<button (click)="addSearchFilter('green')">green</button>
<button (click)="addSearchFilter('red')">red</button>
<button (click)="addSearchFilter('blue')">blue</button>
<button (click)="addSearchFilter('black')">black</button>
<button (click)="addSearchFilter('artifact')">artifact</button>
<button (click)="addSearchFilter('creature')">creature</button>
<button (click)="addSearchFilter('sorcery')">sorcery</button>
<button (click)="addSearchFilter('land')">land</button>
<button (click)="addSearchFilter('enchantment')">enchantment</button>
<button (click)="addSearchFilter('instant')">instant</button>
<button (click)="addSearchFilter('plainswalker')">plainswalker</button>
