<br>
<!-- <button class="color-btn" (click)="addSearchFilter('white')">white</button>
<button class="color-btn" (click)="addSearchFilter('green')">green</button>
<button class="color-btn" (click)="addSearchFilter('red')">red</button>
<button class="color-btn" (click)="addSearchFilter('blue')">blue</button>
<button class="color-btn" (click)="addSearchFilter('black')">black</button> -->

<div class="filters">


  <div class="color-buttons">
    <button *ngFor="let currentBtn of colorBtns" class="color-btn" id={{currentBtn.name}} (click)="addSearchFilter(currentBtn.name)"><img src={{currentBtn.image}} alt={{currentBtn.name}}></button>
  </div>

  <div class="type-buttons">
    <button *ngFor="let currentBtn of typeBtns" class="type-btn" id={{currentBtn.name}} (click)="addSearchFilter(currentBtn.name)"><img src={{currentBtn.image}} alt={{currentBtn.name}}></button>
  </div>

  <div class="sort-by">
    <h2>sort by</h2>
  </div>

</div>
