<img src="{{card.image}}" alt="card image">
<div class="details">
  <div class="left">
    <h5>Name</h5>
    <p [className]="color(card)">{{card.name}}</p>
  </div>
  <div class="right">
    <h5>Rarity</h5>
    <p [className]="color(card)">{{card.rarity}}</p>
  </div>
  <div>
    <h5>Colors</h5>
    <p [className]="color(card)">{{colorTranslate(card)}}</p>
  </div>
  <div id="set" class="right">
    <h5>Set</h5>
    <p [className]="color(card)">{{card.set}}</p>
  </div>
  <!-- <div class="left">
    <h5>Mana Cost</h5>
    <p [className]="color(card)">{{card.mana_cost}}</p>
  </div> -->
  <!-- <div class="right">
    <h5>Current Price</h5>
    <p [className]="color(card)">{{card.prices.usd}}</p>
  </div> -->
  <div class="left powerTough">
    <div>
      <h5>Power</h5>
      <p [className]="color(card)">{{card.power}}</p>
    </div>
    <div class="right">
      <h5>Toughness</h5>
      <p [className]="color(card)">{{card.toughness}}</p>
    </div>
  </div>
  <div class="left large">
    <h5>Type</h5>
    <p [className]="color(card)">{{card.type}}</p>
  </div>
  <div class="large">
    <h5>Text</h5>
    <p [className]="color(card)">{{card.oracle_text}}</p>
  </div>
<div class="addButtons">
  <button type="button" name="button" (click)="addCardToLibrary(card)">Add to Library</button>
  <button type="button" name="button" (click)="addCardToDeck()">Add to Deck</button>
</div>
